# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
asd_tools.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.ruff_cache/
.nfs*
.ipynb_checkpoints
@eaDir/
q/
*.db
*.log
*.ipynb
*.csv
# tools related
tools/pytorch-image-models/
tools/*venv*/
tools/miniconda.sh
tools/activate_python.sh
exp/
dev_data
*.npy
*.pdf
